langchain
python-dotenv
streamlit
tiktoken
faiss-cpu
protobuf
google-generativeai
langchain-experimental
mysql-connector-python
pymysql
sentence-transformers
chromadb==0.4.13
langchain-community
tabulate
langchain_google_genai